---

# Ensure required Keystone variables exist
- fail: msg="variable undefined - du_url"
  when: du_url is undefined
- fail: msg="variable undefined - os_username"
  when: os_username is undefined
- fail: msg="variable undefined - os_password"
  when: os_password is undefined
- fail: msg="variable undefined - os_region"
  when: os_region is undefined
- fail: msg="variable undefined - os_tenant"
  when: os_tenant is undefined

- debug: var=du_url
- debug: var=os_username
- debug: var=os_password
- debug: var=os_tenant
- name: Set OS_AUTH fact
  set_fact:
    os_auth:
      auth_url: "{{du_url}}/keystone/v2.0"
      username: "{{os_username}}"
      password: "{{os_password}}"
      project_name: "{{os_tenant}}"

- name: Obtain authentication token from Keystone
  local_action: "os_auth auth={{ os_auth }} region_name={{ os_tenant }}"
  check_mode: no
  register: auth_reply

- name: Save OS Auth Token
  copy:
    content: "{{ auth_reply.ansible_facts.auth_token }}"
    dest: /tmp/keystone-token.txt

- name: Store OS_AUTH_TOKEN in fact
  set_fact: "os_auth_token={{ auth_reply.ansible_facts.auth_token }}"
