{
    "allow_dhcp_vms": "{{neutron_ovs_allow_dhcp_vms}}",
    "bridge_mappings": "{{neutron_ovs_bridge_mappings}}",
    "enable_distributed_routing": "{{neutron_ovs_enable_distributed_routing}}",
    "enable_tunneling": "{{neutron_ovs_enable_tunneling}}",
{% if neutron_tunnel_types is defined %}    "local_ip": "{{tunnel_ip}}",{% endif %}
    "net_type": "{{neutron_ovs_net_type}}"{% if neutron_tunnel_types is defined %},
    "tunnel_types": "{{neutron_tunnel_types}}"{% endif %}
}
