{
    endpoint_address : "{{glance_endpoint_address}}",
    filesystem_store_datadir : "{{glance_filesystem_store_datadir}}",
    update_public_glance_endpoint : "{{glance_update_public_glance_endpoint}}"
}
