export OS_AUTH_URL=https://cfe.platform9.horse/keystone/v3
export OS_IDENTITY_API_VERSION=3
export OS_REGION_NAME='VMware-01'
export OS_USERNAME='dan.wright@platform9.com'
export OS_PASSWORD='Ell3nD@n!'
export OS_PROJECT_NAME='Dan'
export OS_PROJECT_DOMAIN_ID=default
