{% if mgmt_bond_members is defined %}
auto {{mgmt_bond_ifname}} 
  iface {{mgmt_bond_ifname}} inet static
  bond-slaves {{mgmt_bond_members}}
  address {{item['ip']}}
  netmask {{item['mask']}}
  gateway {{item['gateway']}}
  dns-nameservers {{item['dns']}}
  mtu {{item['mtu']}}
{% endif %}

