---
- modprobe:
    state: present
    name: "{{ item }}"
  with_items: "{{ neutron_kernel_modules }}"

- name: Persist modules on boot
  lineinfile:
    state: present
    line: "{{ item }}"
    dest: /etc/modules
  with_items: "{{ neutron_kernel_modules }}"
  when: ansible_distribution == "Ubuntu"

- block:
  - name: Persist modules on boot
    lineinfile:
      state: present
      dest: /etc/modules-load.d/pf9.conf
      create: yes
      line: "{{ item }}"
    with_items: "{{ neutron_kernel_modules }}"

  - name: Remove old modules conf file
    file:
      state: absent
      path: /etc/modules-load.d/neutron.conf
  when: ansible_os_family == "RedHat"
