---
##########################################################################################################
## network_hook:
##
## This hook is a user-defined script for site-specific network configurations.
## Feel free to modify as needed for your environment.
##########################################################################################################

- debug: msg="running network_hook():"

##
## By default, auto-deploy creates an interface named "bond0" and adds it to an OVS bridge named "br-pf9".
##
- include: redhat.yml
  when: ansible_os_family == "RedHat"

- include: ubuntu.yml
  when: ansible_distribution == 'Ubuntu'

- name: check if OVS bridge already exists
  shell: "ifconfig -a | grep ^br-pf9 > /dev/null 2>&1; if [ $? -eq 0 ]; then echo 'exists'; else echo 'not-exist'; fi"
  register: ovs_bridge_check

- name: Set br-pf9 port as bond0
  openvswitch_port:
    bridge: br-pf9
    port: bond0
    state: present
  when: ovs_bridge_check.stdout.strip() == "not-exist"
