---

- name: Download Platform9 installers
  get_url:
    url: "https://{{du_fqdn}}/clarity/platform9-install-{{ansible_os_family|lower}}.sh"
    dest: "/tmp/platform9-install-{{ansible_os_family|lower}}.sh"
    mode: 0755
    use_proxy: "{{ 'yes' if proxy_url is defined else 'no' }}"

- include: certless-packages.yml

- name: Enable and start pf9-hostagent
  service:
    name: pf9-hostagent
    state: started
    enabled: yes
