export OS_AUTH_URL=https://lab.cs.pf9.io/keystone/v3
export OS_IDENTITY_API_VERSION=3
export OS_REGION_NAME="VMware-US-SJC"
export OS_USERNAME="<USER>"
export OS_PASSWORD="<CHANGEME>"
export OS_PROJECT_NAME="<PROJECT>"
export OS_PROJECT_DOMAIN_ID=${OS_PROJECT_DOMAIN_ID:-"default"}
