---
################################################################################
# Dynamically-Assigned Role Values (static values are initialized in inventory)
################################################################################
- debug: msg="DEPLOYING ROLE - {{rolename}}"
  when: autoreg == "on"
- debug: msg="SKIPPING ROLE - {{rolename}}"
  when: autoreg == "off"
- debug: var=playbook_dir

- block:
  # glance_endpoint_address
  - set_fact:
      glance_endpoint_address: "{{ha_cluster_ip}}"

  # neutron_l3_agent_mode
  - set_fact:
      neutron_l3_agent_mode: "dvr_snat"
    when: dvr == "on" and snat == "on"
  - set_fact:
      neutron_l3_agent_mode: "dvr"
    when: dvr == "on" and snat == "off"
  - set_fact:
      neutron_l3_agent_mode: "dvr"
    when: neutron_l3_agent_mode is undefined

  # neutron_ovs_enable_distributed_routing
  - set_fact:
      neutron_ovs_enable_distributed_routing: "True"
    when: dvr == "on"
  - set_fact:
      neutron_ovs_enable_distributed_routing: "False"
    when: dvr == "off"
  - set_fact:
      neutron_ovs_enable_distributed_routing: "True"
    when: dvr is undefined

  # neutron_novncproxy_base_url
  - set_fact:
      neutron_novncproxy_base_url: "http://{{ha_cluster_ip}}:6080/vnc_auto.html"
    when: neutron_novncproxy_base_url is undefined
  when: rolename != "pf9-kube" and rolename != "pf9-cindervolume-lvm" and rolename != "pf9-cindervolume-base"

- block:
  # cinder_iscsi_ip_address
  - set_fact:
      cinder_iscsi_ip_address: "{{cinder_ip}}"

  # cinder_volume_backend_name
  - set_fact:
      cinder_volume_backend_name: "{{cinder_backend_name}}"
  when: rolename == "pf9-cindervolume-lvm"

################################################################################
# Configure Role Metadata
################################################################################
- name: validate pf9/host_id.conf
  stat:
    path: /etc/pf9/host_id.conf
  register: stat_hostid

- fail: msg="failed to open /etc/pf9/host_id.conf"
  when: stat_hostid.stat.exists == false

- name: get host_id
  shell: cat /etc/pf9/host_id.conf | grep ^host_id | cut -d = -f2 | cut -d ' ' -f2
  register: host_id

- set_fact:
    role_metadata: "/tmp/{{inventory_hostname}}.{{rolename}}.json"

# Build template JSON
- name: prepare role json data
  template:
    src: "{{rolename}}.j2"
    dest: "{{role_metadata}}"
  delegate_to: localhost

##############################################################################
# Enforce required role parameters
##############################################################################
# pf0-kube
- name: validate required role params (sourced from inventory)
  fail: msg="role 'pf9-kube' is missing required parameter - 'cluster_name'"
  when: rolename == "pf9-kube" and cluster_name is undefined
    
- name: validate required role params (sourced from inventory)
  fail: msg="role 'pf9-kube' is missing required parameter - 'cluster_fqdn'"
  when: rolename == "pf9-kube" and cluster_fqdn is undefined
    
# pf9-cindervolume-lvm
- fail: msg="role 'pf9-cindervolume-lvm' is missing required parameter - pvs"
  when: rolename == "pf9-cindervolume-lvm" and pvs is undefined

##############################################################################
# Manage role_params
##############################################################################
- name: initialize role_params to null
  set_fact:
    role_params: ""
  when: rolename != "pf9-kube"

- name: assign role_params for pf9-kube role
  set_fact:
    role_params: "--clusterName {{cluster_name}} --clusterFqdn {{cluster_fqdn}}"
  when: rolename == "pf9-kube"

- name: initialize proxy_params to null
  set_fact: 
    proxy_params: ""
  when: proxy_url is undefined

- name: initialize proxy_params
  set_fact: 
    proxy_params: "--proxy {{proxy_url}}"
  when: proxy_url is defined

##############################################################################
# For cinder, perform SCSI discovery and LVM configuration
##############################################################################
- block:
  - name: discover volumes
    script: files/pf9-scsi-rescan
    register: scsi_rescan
  - debug: var=scsi_rescan

  - set_fact:
      pvs_string: ""
  - set_fact:
      pvs_string: "{{pvs_string}},{{item}}"
    with_items: "{{pvs}}"

  - name: configure LVM
    script: "files/pf9-configure-lvm cinder-volumes '{{pvs_string}}'"
    register: config_lvm
  - debug: var=config_lvm
  when: rolename == "pf9-cindervolume-lvm"

##############################################################################
# For cinder, perform SCSI discovery and LVM configuration
##############################################################################
- block:
  - stat:
      path: /opt/pf9
    register: opt_pf9

  - name: create /opt/pf9
    file:
      path: /opt/pf9
      state: directory
      owner: pf9
      group: pf9group
      mode: 0755
    when: opt_pf9.stat.exists == false

  - stat:
      path: /opt/pf9/setupd
    register: opt_pf9_setupd

  - name: create /opt/pf9/setupd
    file:
      path: /opt/pf9/setupd
      state: directory
      owner: pf9
      group: pf9group
      mode: 0755
    when: opt_pf9_setupd.stat.exists == false

  - stat:
      path: "{{role_path}}"
    register: stat_role_path
  - debug: var=stat_role_path

  - name: ls role_path
    shell: "ls -l {{role_path}}"
    register: ls_role_path
  - debug: var=ls_role_path

  - name: copy setupd
    copy:
      src: "{{role_path}}/files/setupd"
      dest: /opt/pf9/setupd
      owner: pf9
      group: pf9group
      mode: 0755
      remote_src: true
    register: copy_setupd
  - debug: var=copy_setupd
  when: rolename == "pf9-kube"

################################################################################
# Apply Role to Server
################################################################################
- debug: msg="executing map-role.sh {{ctrl_ip}} {{rolename}} {{host_id.stdout.strip()}} {{du_username}} {{du_password}} {{role_params}} {{proxy_params}}"

- name: "Assigning Role - {{rolename}}"
  script: "map-role.sh {{ctrl_ip}} {{rolename}} {{role_metadata}} {{host_id.stdout.strip()}} {{du_username}} {{du_password}} {{role_params}} {{proxy_params}}"
  delegate_to: localhost
  register: rolemap_log

- debug: var=rolemap_log.stdout_lines
