---
- name: Install curl
  apt:
    name: curl
    state: present

- name: Install uuid-runtime
  apt:
    name: uuid-runtime
    state: present

- name: Install software-properties-common
  apt:
    name: software-properties-common
    state: present

- name: Install logrotate
  apt:
    name: logrotate
    state: present
