auto {{bond_ifname}}
  iface {{bond_ifname}} inet manual
  bond-slaves {{bond_members}}
  mtu {{bond_mtu}}
  bond-miimon {{bond_miimon}}
  bond-mode {{bond_mode}}  
  bond-lacp-rate {{bond_lacp_rate}}
